// 项目提供 scss 全局变量

// 设置 scss 全局变量

// 左侧菜单的宽度
$base_menu_width: 260px;
// 生侧菜单的背景颜色
$base_menu_background: #001529;
$base_menu_min-width:50px;

// 顶部导航的高度
$base_tabbar_height: 50px;

// 左侧菜单 logo 的高度
$base_menu_logo_height: 50px;

// 左侧菜单 logo 右侧文字大小
$base_logo_title_fontSize: 20px;

